@tailwind base;
@tailwind components;
@tailwind utilities;


/* Fix Lighthouse warning: Ensure h1 elements have consistent font-size in semantic elements */
article h1, aside h1, nav h1, section h1 {
  font-size: 2rem; /* 32px */
  line-height: 1.2;
}
